<!DOCTYPE html>
  <head>
    <title>The Movie Database</title>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%=yield%>
  </body>
</html>
