<% load 'helpers.rb' %>

<h2><%= movies_data_with_actor_id[0]["name"] %></h2>

<% movies_data_with_actor_id.each do |movie| %>
  <h3><a href='/movies/<%= movie["id"] %>'><%= movie["title"] %></a></h3>
  <p><%= movie["character"] %></p>
<% end %>
